*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. Changez la couleur du titre AU-DESSUS de 1300px en "yellowgreen" */
@media (min-width: 1300px){
  h1{
    color: yellowgreen;
  }
 
}


/* 2. Changez la couleur du titre en "crimson" lorsque la taille d'ECRAN se situe ENTRE 500 et 1000px */
@media (min-width:500px) and (max-width:1000px){
  h1{
    color: crimson;
  }
}



/* 3. Passez la couleur du BODY en "royalblue" quand sa largeur est egale a 499px */

@media (width:499px){
  body{
    color: royalblue;
  }
}


/* 4. Changez la couleur du body en "lightgreen" lorsque on est en presence d'une ecran, ou dans une orientation "portrait" ou en présence d'une largeur supérieur à 500px */

@media (orientation:portrait) , (min-width:500px){
  body{
    background-color: lightgreen;
  }
}



/* 5. Changez la couleur du titre en "turquoise" quand nous sommes en mode "grossier", c'est à dire qu'on est en présence d'un appareil mobile / tablette et qu'on navigue "au doigt". */
@media screen (pointer: coarse){
  h1{
    color: turquoise;
  }
}
